@font-face {
  font-family: "RobotoFlex";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap")
    format("woff");
  /* font-weight: 300; */
}

@font-face {
  font-family: "Pix";
  src: url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

* {
  font-family: "Roboto Flex", sans-serif;
}
