@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../public/fonts.css";

@layer base {
  body {
    overflow-x: hidden;
    @apply bg-light;
  }

  html,
  body,
  #__next {
    min-height: 100dvh;
  }
}

@layer utilities {
  .bg-checkerboard {
    background-size: 6.25% 6.25%; /* 100% / 32 pixels */
    background-image: repeating-conic-gradient(
      var(--lt-color-gray-400) 0% 25%,
      var(--lt-color-gray-200) 0% 50%
    );
  }
}

canvas {
  image-rendering: pixelated;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 15px;
  border: solid #478558;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

*::-webkit-scrollbar {
  display: none;
}

/* Palette */

.color-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(20px, 1fr)
  ); /* Adjust the grid size as needed */
  grid-gap: 2px; /* Adjust the gap between squares as needed */
  max-width: 100%; /* Ensure the grid does not exceed its container width */
  background-color: transparent;
}

.color-square {
  width: 100%;
  padding-top: 100%; /* Create square aspect ratio (1:1) */
  cursor: pointer;
}

.color-modal {
  font-size: 1rem;
  color: white;
  padding: 0.75rem;
  text-align: center;
  background-color: black;
}
