@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pix";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@layer base {
  * {
    @apply font-Inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Inter;
  }

  h1 {
    @apply text-2xl font-semibold text-secondary-600  md:text-4xl;
  }

  h2 {
    @apply text-xl font-semibold text-secondary-400 md:text-2xl;
  }

  body {
    overflow-x: hidden;
    @apply bg-light;
  }

  html,
  body,
  #__next {
    min-height: 100dvh;
  }

  canvas {
    @apply pixelated;
  }
}

@layer utilities {
  .overlap {
    grid-area: 1/1/1/1;
  }

  .bg-checkerboard {
    background-size: 3.125% 3.125%; /* 100% / 32 pixels */
    background-image: repeating-conic-gradient(
    #ececec 0% 25%, /* Replace with your first custom gray color */
    #ffffff 0% 50%  /* Replace with your second custom gray color */
    );
  }

  .pixelated {
    image-rendering: pixelated;
  }
}

/* Palette */

.color-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(20px, 1fr)
  ); /* Adjust the grid size as needed */
  grid-gap: 2px; /* Adjust the gap between squares as needed */
  max-width: 100%; /* Ensure the grid does not exceed its container width */
  background-color: transparent;
}

.color-square {
  width: 100%;
  padding-top: 100%; /* Create square aspect ratio (1:1) */
  cursor: pointer;
}

.color-modal {
  font-size: 1rem;
  color: white;
  padding: 0.75rem;
  text-align: center;
  background-color: black;
}

.profile-section-creators {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-individual-section {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
